/*---------- Base Styles ----------*/
@-ms-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}

.clear:after {
    display: table;
    content: "";
    clear: both;
}

.center-wrapper {
    max-width: @break-point;
    margin: 0 auto;
}

body {
    font: normal 100%/1.3 sans-serif;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #000;
}


input[type="submit"],
button {
    border: 0;
    outline: 0;
}

textarea {
    resize: vertical;
}

/* hide text within the placeholder */
:focus::-webkit-input-placeholder {
    color: transparent;
}
:focus::-moz-placeholder {
    color: transparent;
}
:focus:-ms-input-placeholder {
    color: transparent;
}

/* box-sizing model */
*,
*:before,
*:after { box-sizing: border-box; }
