@import "normalize.less";
@import "variables.less";
@import "base.less";

.welcome {
    width: 50%;
    height: 20%;
    margin: 0 auto;
    background-color: #ddd;
    border-radius: 4px;
    text-align: center;
}