/* Add :before or :after class for full screen block */

.full-screen-div(@color: #e44, @direction: right){
  content: "";
  width: 9999px;
  background-color: @color;
  position: absolute;
  top: 0px;
  bottom: 0px;
  @direction: 100%;
}
