/* heading with the line around himself */
/* <div class="decorative-title"><h1>Heading</h1></div> */

@heading-bg: #fff;
@border-color: #000;

.decorative-title {
    display: block;
    margin-top: 3.5em;
    margin-bottom: 4.5em;
    text-align: center;
    position: relative;
    line-height: 1;
}
.decorative-title h1 {
    position: relative;
    display: inline;
    z-index: 2;
    padding: 0 25px;
    background: @heading-bg;
}

.decorative-title:after {
    position: relative;
    content: "";
    display: block;
    border-bottom: 2px solid @border-color;
    top: -1.5em;
    z-index: 1;
}
