/* zoom images */

.zoom-out() {
    overflow: hidden;
    padding: 0;
    img {
        transition: all 1s ease-in-out;
        width: 150%;
    }
    img:hover {
        width: 100%;
    }
}

.zoom-in() {
    overflow: hidden;
    padding: 0;
    img {
        transition: all 1s ease-in-out;
    }
    img:hover {
        transform: scale(1.5);
    }
}
