/*---------- Code style ----------*/
code {
    font-size: 1.1em;
}

pre {
    line-height: 1.5;
    .div-decor();
    code {
        font-size: .98em;
        border: none;
        background-color: transparent;
        overflow: auto;
    }
}

code,
pre {
    font-family: "Andale Mono", "Courier New", monospace;
}
