/*---------- Links ----------*/
a {
    color: #000;
    &:hover,
    &:focus,
    &:active {
        color: #000;
        text-decoration: underline;
    }
    &:visited {
        color: #a77;
    }
}
/* Not real links */
// a.nonactive {
//   color: #777;
//   cursor: text;
//   &:hover,
//   &:focus,
//   &:active {
//     color: #777;
//   }
// }
