/*---------- Table ----------*/
table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin: 2% 0;
}

table tr:nth-child(even) {
    background: #f9f9f9;
}
table th {
    background: #f5f5f5;
    text-transform: uppercase;
    font-family: sans-serif;
}
th,
td {
    text-align: left;
    padding: .313em .625em;
    border: 1px solid #efefef;
}
